In [44]:
# Import Dependencies
import pandas as pd
import csv
import os

In [45]:
# Set path for file
csv_path = "Resources/budget_data.csv"

# Import the budget_data.csv file as a DataFrame and print th
budget_df = pd.read_csv(csv_path, encoding="utf-8")
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [46]:
count = budget_df["Date"].count()
count

86

In [47]:
budget_df["Profit/Losses"].sum()

38382578

In [48]:
budget_df.max()

Date             Sep-2016
Profit/Losses     1170593
dtype: object

In [49]:
budget_df.min()

Date             Apr-2010
Profit/Losses    -1196225
dtype: object

In [51]:
changes = []
for i in range(1, count):
    change = budget_df["Profit/Losses"][i] - budget_df["Profit/Losses"][i-1] 
    changes.append(change)

In [52]:
#trying to create new data frame with a column of monthly changes in P/L -- unfortunately this did not work
budget_changes_df = zip(budget_df["Date"],budget_df["Profit/Losses"],changes)

In [55]:
#would then try to get mean, min, and max of the monthly changes in P/L column
budget_changes_df["changes"].max()

TypeError: 'zip' object is not subscriptable

In [67]:
print("Financial Analysis")
print("----------------------------")

Financial Analysis
----------------------------

In [68]:
print("Total Months: " + str(count))

Total Months: 86

In [ ]:
print("Greatest Increase in Profits: " str(budget_changes_df["changes"].max()))
print("Greatest Decrease in Profits: " str(budget_changes_df["changes"].min()))

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
budget_changes_df.to_csv("Output/fileOne.csv", index=False, header=True)